@model MYCVMAKERPROJECT.ViewModel.PersonalViewModel
@{
    ViewData["Title"] = "PersonalCV";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>

    <meta charset="utf-8">
    <title>Personal Portfolio Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css">
    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Personalstyle.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
    <!-- default color skin -->
    <link rel="stylesheet" type="text/css" href="~/Content/skins/color-1.css">
    <!-- style switcher - for demo purposes only -->

    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-1" href="~/Content/skins/color-1.css">
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-2" href="~/Content/skins/color-2.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-3" href="~/Content/skins/color-3.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-4" href="~/Content/skins/color-4.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-5" href="~/Content/skins/color-5.css" disabled>
    <link rel="stylesheet" type="text/css" href="~/Content/style-switcher.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body class="dark">

    <!-- preloader start -->
    <div class="preloader">
        <div class="box">
            <div></div><div></div><div></div>
        </div>
    </div>
    <!-- preloader end -->
    <!-- home section start -->
    <section class="home-section section active" id="home" style="background-image:url(/img/bkp.jpg)">

        <!-- navigation menu start -->
        <nav class="navbar navbar-expand-xl navbar-dark ">
            <a href="#" class="navbar-brand"><img src="~/img/Logo.png" alt="logo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <form class="navbar-form form-inline" method="post">
                    <div class="input-group search-box">
                        <input type="text" id="search" class="form-control" placeholder="Search here..." name="search">
                        <span class="input-group-addon"><button type="submit" class="buttons" style="height: 140%; border: none;"><i class="material-icons">&#xE8B6;</i></button></span>
                    </div>
                </form>
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
                    <!-- <a href="#about" class="nav-item nav-link"><i class="fa fa-address-card"></i><span>About</span></a> -->
                    <!-- <a href="#services" class="nav-item nav-link"><i class="fab fa-servicestack"></i><span>services</span></a> -->
                    <a href="#portfolio" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>
                    <!-- <a href="#testimonial" class="nav-item nav-link"><i class="fa fa-users"></i><span>Testimonial</span></a> -->
                    <a href="#contact" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Contact</span></a>
                    <!-- <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>		 -->
                    <a href="#" class="nav-item nav-link" onclick="toggleNotifi()"><i class="fa fa-bell"><span class="number">17</span></i><span>Notifications</span></a>

                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="@Model.Personal.P_Image" class="avatar" alt="Avatar"> Murad Aawd <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <!-- <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a> -->
                            <a href="#changepassword" class="dropdown-item"><i class="fa fa-lock"></i> Chenge Password</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Edit Data</a>
                            <div class="divider dropdown-divider"></div>
                            @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- navigation menu end -->
        <div class="container">
            <div class="row full-screen align-items-center">
                <div class="home-text">
                    <p>Hello</p>
                    <h2>I'm @Model.Personal.P_FirstName @Model.Personal.P_LastName</h2>
                    <h1>@Model.Personal.P_JobTitle</h1>
                    <a href="#about" class="link-item btn-1 outer-shadow hover-in-shadow">More About Me</a>
                </div>
                <div class="home-img">
                    <div class="img-box inner-shadow">
                        <img src="@Model.Personal.P_Image" class="outer-shadow" alt="profile-pic">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->
    <div class="notifi-box" id="box">
        <h2>Notifications <span>17</span></h2>

        @foreach (var item in Model.JobAlert.Where(x => x.J_Title == Model.Personal.P_JobTitle))
        {
            <div class="notifi-item unread" href="#addEmployeeModal" data-toggle="modal" onclick="unread(this);">
                <img src="@item.Company.C_logo" alt="img">
                <div class="text">
                    <h4>@item.Company.C_Name</h4>
                    <p> @item.J_Title</p>
                </div>
            </div>
        }
    </div>
    <!-- about section start -->
    <section class="about-section section active" id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="main info">About me</h2>
                </div>
            </div>
            <div class="row">
                <div class="about-img">
                    <div class="img-box inner-shadow">
                        <img src="@Model.Personal.P_Image" class="outer-shadow" alt="profile-pic">
                    </div>
                    <!-- social links start -->
                    <div class="social-links">
                        <a href="@Model.User.FacebookLink" class="outer-shadow hover-in-shadow"><i class="fab fa-facebook-f"></i></a>
                        <a href="@Model.User.GetHupLink" class="outer-shadow hover-in-shadow"><i class="fab fa-twitter"></i></a>
                        <a href="@Model.User.InstagramLink" class="outer-shadow hover-in-shadow"><i class="fab fa-instagram"></i></a>
                        <a href="@Model.User.LinkedInLink" class="outer-shadow hover-in-shadow"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <!-- social links end -->
                </div>
                <div class="about-info">
                    <p><span>Hi! My name is @Model.Personal.P_FirstName @Model.Personal.P_LastName. I am a @Model.Personal.P_JobTitle.</span>@Model.User.Description </p>
                    <a href="@Model.Personal.P_FileCV" class="btn-1 outer-shadow hover-in-shadow">Download CV</a>
                    <a href="#contact" class="link-item btn-1 outer-shadow hover-in-shadow">Hire Me</a>
                </div>
            </div>
            <!-- about tabs start -->
            <div class="row">
                <div class="about-tabs">
                    <span class="tab-item outer-shadow active" data-target=".skills">skills</span>
                    <span class="tab-item" data-target=".experience">experience</span>
                    <span class="tab-item" data-target=".education">education</span>
                </div>
            </div>
            <!-- about tabs end -->
            <!-- skills start -->
            <div class="row">
                <div class="skills tab-content active">
                    <div class="row">
                        <!-- skill item start -->
                        @foreach (var item in Model.PersonalSkill)
                        {
                            <div class="skill-item">
                                <p>@item.Skill</p>
                                <div class="progress inner-shadow">
                                    <div class="progress-bar" style="width: calc(50% - 14px)">
                                        <span>@item.Level%</span>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- skill item end -->
                    </div>
                </div>
            </div>
            <!-- skills end -->
            <!-- experience start -->
            <div class="row">
                <div class="experience tab-content">
                    <div class="row">
                        <div class="timeline">
                            <div class="row">
                                <!-- timeline item start -->
                                @foreach (var item in Model.PersonalWorkExperience)
                                {
                                    <div class="timeline-item">
                                        <div class="timeline-item-inner outer-shadow">
                                            <i class="fas fa-briefcase icon"></i>
                                            <span>@item.StartMonth, @item.EndDate - Present</span>
                                            <h3>@item.JobTitle</h3>
                                            <h4>@item.Employeer, @item.City </h4>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }
                                <!-- timeline item end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- experience end -->
            <!-- education start -->
            <div class="row">
                <div class="education tab-content">
                    <div class="row">
                        <div class="timeline">
                            <div class="row">
                                <!-- timeline item start -->
                                @foreach (var item in Model.Education)
                                {
                                    <div class="timeline-item">
                                        <div class="timeline-item-inner outer-shadow">
                                            <i class="fas fa-graduation-cap icon"></i>
                                            <span>@item.StartMonth, @item.StartDate - @item.EndMonth, @item.EndDate</span>
                                            <h3>@item.Degree</h3>
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }
                                <!-- timeline item end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- education end -->
        </div>
    </section>
    <!-- about section end -->
    <!-- service section start -->
    <section class="service-section section active" id="services">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="Services">What i do</h2>
                </div>
            </div>
            <div class="row">
                <!-- service item start -->
                @foreach (var item in Model.PersonalService)
                {
                    <div class="service-item">
                        <div class="service-item-inner outer-shadow">
                            <div class="icon inner-shadow">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <h3>@item.JobTitle</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
                <!-- service item end -->
            </div>
        </div>
    </section>
    <!-- service section end -->
    <!-- portfolio section start -->
    <section class="portfolio-section section active" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="portfolio">Latest Works</h2>
                </div>
            </div>
            <!-- portfolio filter start -->
            <div class="row">
                <div class="portfolio-filter">
                    <span class="filter-item outer-shadow active" data-target="all">all</span>
                </div>
            </div>
            <!-- portfolio filter end -->
            <!-- portfolio items start -->
            <div class="row portfolio-items">
                <!-- portfolio item start -->
                @foreach (var item3 in Model.PersonalProject)
                {
                    <div class="portfolio-item" data-category="web-application">
                        <div class="portfolio-item-inner outer-shadow">
                            <div class="portfolio-item-img">
                                <img src="@item3.InterfaceImage" alt="portfolio"
                                     data-screenshots="@item3.SubImage">
                                <!-- view project btn -->
                                <span class="view-project">view project</span>
                            </div>
                            <p class="portfolio-item-title">@item3.ProjectName</p>
                            <!-- portfolio item details start -->
                            <div class="portfolio-item-details">
                                <div class="row">
                                    <div class="description">
                                        <h3>Project Brief:</h3>
                                        <p>@item3.Description</p>
                                    </div>
                                    <div class="info">
                                        <h3>Project info</h3>
                                        <ul>
                                            <li>Date - <span>@item3.EndDate</span></li>
                                            <li>Client - <span>@item3.ClientName</span></li>
                                            <li>Tools - <span>@item3.Tools</span></li>
                                            <li>Web - <span><a href="@item3.DomainName">@item3.DomainName</a></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio item details end -->
                        </div>
                    </div>
                }<!-- portfolio item end -->

            </div>
            <!-- portfolio items end -->
        </div>
    </section>
    <!-- portfolio section end -->
    <!-- testimonial section start -->
    <section class="testimonial-section section active" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="testimonial">Client Speak</h2>
                </div>
            </div>
            <div class="row">
                <div class="testi-box">
                    <div class="testi-slider outer-shadow">
                        <div class="testi-slider-container">
                            <!-- testi item start -->
                            <div class="testi-item active">
                                <i class="fas fa-quote-left left"></i>
                                <i class="fas fa-quote-right right"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <img src="~/img/testimonial/1.png" alt="testimonial">
                                <span>Raj Himachal</span>
                            </div>
                            <!-- testi item end -->
                            <!-- testi item start -->
                            <div class="testi-item">
                                <i class="fas fa-quote-left left"></i>
                                <i class="fas fa-quote-right right"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <img src="~/img/testimonial/1.png" alt="testimonial">
                                <span>soshiv upreti</span>
                            </div>
                            <!-- testi item end -->
                            <!-- testi item start -->
                            <div class="testi-item">
                                <i class="fas fa-quote-left left"></i>
                                <i class="fas fa-quote-right right"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <img src="~/img/testimonial/1.png" alt="testimonial">
                                <span>gamer king</span>
                            </div>
                            <!-- testi item end -->
                        </div>
                    </div>
                    <div class="testi-slider-nav">
                        <span class="prev outer-shadow hover-in-shadow"><i class="fas fa-angle-left"></i></span>
                        <span class="next outer-shadow hover-in-shadow"><i class="fas fa-angle-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section end -->
    <!-- contact section start -->
    <section class="contact-section section active" id="contact">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="contact">Get In Touch</h2>
                </div>
            </div>
            <div class="row">
                <!-- contact item start -->
                <div class="contact-item">
                    <div class="contact-item-inner outer-shadow">
                        <i class="fas fa-phone"></i>
                        <span>Phone</span>
                        <p>@Model.User.PhoneNumber</p>
                    </div>
                </div>
                <!-- contact item end -->
                <!-- contact item start -->
                <div class="contact-item">
                    <div class="contact-item-inner outer-shadow">
                        <i class="fas fa-envelope"></i>
                        <span>Email</span>
                        <p>@Model.User.UserEmail</p>
                    </div>
                </div>
                <!-- contact item end -->
                <!-- contact item start -->
                <div class="contact-item">
                    <div class="contact-item-inner outer-shadow">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Address</span>
                        <p>@Model.User.Address</p>
                    </div>
                </div>
                <!-- contact item end -->
            </div>
            <div class="row">
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="w-50">
                                <div class="input-group outer-shadow hover-in-shadow">
                                    <input type="text" placeholder="Name" class="input-control">
                                </div>
                                <div class="input-group outer-shadow hover-in-shadow">
                                    <input type="text" placeholder="Email" class="input-control">
                                </div>
                                <div class="input-group outer-shadow hover-in-shadow">
                                    <input type="text" placeholder="Subject" class="input-control">
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="input-group outer-shadow hover-in-shadow">
                                    <textarea class="input-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="submit-btn">
                                <button type="submit" class="btn-1 outer-shadow hover-in-shadow">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section end -->
    <!-- portfolio popup start -->
    <div class="pp portfolio-popup">
        <div class="pp-details">
            <div class="pp-details-inner">
                <div class="pp-title">
                    <h2></h2>
                    <p>Category - <span class="pp-project-category"></span></p>
                </div>
                <div class="pp-project-details">
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="pp-main">
            <div class="pp-main-inner">
                <div class="pp-project-details-btn outer-shadow hover-in-shadow">Project Details <i class="fas fa-plus"></i></div>
                <div class="pp-close outer-shadow hover-in-shadow">&times;</div>
                <img src="../img/portfolio/large/project-1/1.png" alt="img" class="pp-img outer-shadow">
                <div class="pp-counter"></div>
            </div>
            <div class="pp-loader">
                <div></div>
            </div>
            <!-- pp navigation -->
            <div class="pp-prev"><i class="fas fa-play"></i></div>
            <div class="pp-next"><i class="fas fa-play"></i></div>
        </div>
    </div>
    <!-- portfolio popup end -->
    <!-- style switcher start-->
    <div class="style-switcher outer-shadow">
        <div class="style-switcher-toggler s-icon outer-shadow hover-in-shadow">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon outer-shadow hover-in-shadow">
            <i class="fas"></i>
        </div>

        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>
    <!-- style switcher end -->
    <!-- Add Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Please complete the following to start receiving this Job Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Job Description :</label>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad pariatur nesciunt odio, animi sint voluptatem voluptatibus veniam perspiciatis qui consectetur?</p>
                        </div>
                        <div class="form-group">
                            <h4 class="modal-title">Job Details</h4>
                        </div>
                        <div class="form-group">
                            <label>Job Location : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Company Industry : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Company Type : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Job Role : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Emplement Type : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Monthly Salary Range : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Number of vacancies : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <h4 class="modal-title">Preferred Candidate</h4>
                        </div>
                        <div class="form-group">
                            <label>Career Level : </label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Years of Experience :</label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="form-group">
                            <label>Degree :</label>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- main js -->
    <script src="~/Scripts/Personalmain.js"></script>
    <!-- style switcher js -->
    <script src="~/Scripts/style-switcher.js"></script>

    <script>
        //$(function () {
        //    $("#search").autocomplete({
        //        source: function (request, response) {
        //            $.ajax({
        //                url: '/PersonalCV/AutoComplete/',
        //                data: "{ 'prefix': '" + request.term + "'}",
        //                dataType: "json",
        //                type: "POST",
        //                contentType: "application/json; charset=utf-8",
        //                //success: function (data) {
        //                //    GetCompanyCV(data);
                            
        //                //},
        //                //error: function (response) {
        //                //    alert(response.responseText);
        //                //},
        //                //failure: function (response) {
        //                //    alert(response.responseText);
        //                //}
        //            });
        //        },
        //        select: function (e, i) {
        //            $("#hfCustomer").val(i.item.val);
        //        },
        //        minLength: 1
        //    });
        //});

        //function GetCompanyCV(data) {
        //    alert(data);
        //    $.ajax({
        //        url: '/CompanyCV/GetCompanyCV/',
        //        data: "{ 'id': '" + data + "'}",
        //        dataType: "json",
        //        type: "POST",
        //        contentType: "application/json; charset=utf-8",
        //    });
        //}           

    </script>
</body>
</html>

